@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
  }
  .app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app-container h1{
    font-weight: 600;
    font-size: 18px;
    color: #3498db;
    border-bottom: 1px solid #eadcdc;
    padding: 10px 0px;
  }
  .qr-code-image{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .input-lable{
    display: block;
    color: #3498db;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
  }
  input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid  #3498db ;
    border-radius: 5px;
  }
  button{

    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backround-color 0.3s;
  }
  .generate-button{
    background-color: #3498db;
  }
  .generate-button:disabled{
    background-color:#bdc3c7;
    cursor: not-allowed;
  }
  .download-button{
    background-color: #ae2781 ;
    margin-left: 10px;
  }
  .download-button:hover{
    background-color: #909a21;
  }
  .footer{
    margin: 30px;
  }
  .footer a{
    color: #db34a9;
    text-decoration: none;
  }
